body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  /* Default values */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}

a:link {
  text-decoration: none;
}

ul.a {
  list-style-position: outside;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h2 {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Header*/
.heder-container {
  justify-content: space-between;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.list-nav {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.list-item {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.list-item:hover {
  color: #404bbf;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.current.link {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.link {
  color: #2e2f42;
  font-family: Roboto;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
  flex-shrink: 0;
}

.address {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.list-adress {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.list-adress-link {
  color: var(--SLATE, #434455);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-adress:hover {
  color: #404bbf;
}
.list-adress:focus {
  color: #404bbf;
}

/* section1 */
.container-title {
  display: block;
  text-align: center;
}
.section-list {
  background: #2e2f42;
  max-width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Portfolio/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title-main {
  color: #fff;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button {
  display: block;
  gap: 10px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}

/* section2 */
.container-advanteges {
}
.section-advant {
  padding: 120px 0;
  flex-shrink: 0;
}

h3 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.title-advant-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-advant {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item-advant {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.list-advant {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.icons-advant {
  margin: 24px 100px;
}
.icons-advant-link {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}
.icons-advant-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* section3 */
.section-portfolio {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.ul-our-team {
  display: flex;
  gap: 24px;
}
.title-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-our-team {
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 72px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-team {
  padding: 32px 0;
}
.container-our-team {
}

.title-our-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
  margin-bottom: 8px;
}

.list-our-team-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.icons-portfolio-item {
  width: 40px;
  height: 40px;
}
.soc-icons-portfolio-link{
  margin-top: 8px;
}

.icons-portfolio-link {
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-portfolio-link:hover,
.icons-portfolio-link:focus {
  background-color: #404bbf;
}

.icons-portfolio {
  fill: #f4f4fd;
}

/* section4 */
.section-portfol {
  flex-shrink: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.item-portfol {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.title-our-portfolio-h {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-our-team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-our-team:hover {
  transform: translateY(0%);
}
.list-our-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-our-portfolio:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-portfol {
}

.list-portfolio {
  background: #fff;
}

.list-portfolio-img {
  position: relative;
  overflow: hidden;
}

.text-our-team-hidden {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-our-portfolio:hover .text-our-team-hidden{
  transform: translateY(0%);
}

.list-text {
  letter-spacing: 0.02;
}
.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  overflow: hidden;
}
.soc-icons-portfolio-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* footer */
.footer {
  background-color: #2e2f42;

  padding: 100px 0;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span-foooter {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-text-footer {
  width: 264px;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-icons-footer-link {
}
.container-logo {
  display: block;
  margin-right: 120px;
}
.title-icons-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icons-footer-list {
  display: flex;
  gap: 16px;
}
.icons-footer-social {
  width: 40px;
  height: 40px;
}
.icons-footer-link {
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-link:hover,
.icons-footer-link:focus {
  background-color: #31d0aa;
}

.icons-footer {
  fill: #f4f4fd;
}
